body {
    margin:0;
  }
  a {
    color:blue;
    text-decoration: none;
  }
  h1 {
    text-align: center;
    border-bottom:2px solid gray;
    margin:0;
    padding:20px;
  }
  ol {
    border-right:2px solid gray;
    width:100px;
    margin:0;
    padding:20px;
    text-decoration: none;
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid ol{
    padding-left:33px;
  }
  #grid #article{
    padding-left:25px;
  }
  @media(max-width:750px){
    #grid{
      display: block;
    }
    ol {
      border-right:none;
    }
    h1{
      border-bottom:none;
    }
